:root {
    --main-white: #f6f5f5;
    --drk-blue: #070d59;
    --lght-blue: #1f3c88;
    --pinky: #ee6f57;
  }

body {
    margin: 0;
    font-family: 'Trispace', sans-serif;
  }
  
  
  header {
    background: var(--drk-blue);
    padding: 2em 0;
    color: var(--main-white);
  }
  
  .container {
      width: 90%;
      max-width: 925px;
      margin: 0 auto;
  }
  
  .container-nav {
    display: flex;
    justify-content: space-between;
  }
  
  @media (max-width: 675px) {
      .container-nav {
          flex-direction: column;
      }
      
      header {
          text-align: center;
      }
  }
  
  .name-logo {
    text-align: center;
    padding: 0;
  }
  
  nav {
    margin: auto 0;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .nav-list-link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 .5em;
    color: var(--main-white);
    font-size: .80rem;
    font-weight: 400;
  }
  
  .nav-list-link:hover, .nav-list-link:focus {
    color: var(--pinky);
  }
  
  h1 {
    margin: 0;
    font-weight: 800;
  }